* {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    background-image: repeating-linear-gradient(358deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 27px, transparent 27px, transparent 29px), repeating-linear-gradient(280deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 27px, transparent 27px, transparent 29px), repeating-linear-gradient(337deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 27px, transparent 27px, transparent 29px), linear-gradient(90deg, rgb(255, 255, 255), rgb(169, 105, 71));
    color: white;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: repeating-linear-gradient(358deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 27px, transparent 27px, transparent 29px), repeating-linear-gradient(280deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 27px, transparent 27px, transparent 29px), repeating-linear-gradient(337deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 27px, transparent 27px, transparent 29px), linear-gradient(90deg, rgb(255, 255, 255), rgb(169, 105, 71));
    color: white;
}

.main {
    width: 100%;
    height: 65%;
}

a {
    color: white;
    text-decoration: none;
}