/* gallery of animals */

.grille {
    width: 100vw;
    margin: 1px auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
}

.grid-OneItem {
    width: 300px;
}


img {
    width: 290px;
}