.grille {
    width: 100vw;
    margin: 50px auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
}

.grid-item {
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 290px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.grid-item:hover .image {
    filter: blur(4px);
}

.grid-item:hover .middle {
    opacity: 1;
}

.text,
.modifyAndUpdate {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.modifyAndUpdate svg {
    margin-left: 10px;
    margin-right: 10px;
}