nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    height: 70%;
    padding: 15px 25px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-navlinks {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-icon span {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    color: white;
}

.hamburger {
    display: none;
}

.navlinks-container a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500px;
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
}

.navlinks-container a::after {
    /* l'instancie */
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    /* transform: scale(0); */
    transform-origin: left;
    background: white;
    transition: transform 0.3s ease-out;
}

nav img {
    width: 50px;
    height: 50px;
}