@import url("./components/general.css");

@import url("./components/header.css");

@import url("./components/navbars.css");

@import url("./components/imggalery.css");

@import url("./components/footer.css");

#adminPaws {
    text-align: center;
}

#title {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

p {
    padding-top: 10px;
    text-align: center;
}

#call {
    text-decoration: underline;
}