/* * {
  border: solid 1px red;
} */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal-btn {
  padding: 10px 14px;
  font-size: 18px;
  margin: 100px auto;
  display: block;
  min-width: 150px;
  cursor: pointer;
}

.updateModal-container {
  width: 100vw;
  height: 100vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#createPawInfos {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#createPawInfos form {
  height: 100%;
}

#pictureChoice {
  width: 56%;
  display: flex;
  flex-direction: column;
}

#image {
  width: 55%;
}

#modalTitle {
  text-align: center;
}

.AllPawInfos {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.PawInfos {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.insertPawInfos {
  margin-top: 10px;
  width: 70%;
  height: 30px;
}

.modal {
  width: 95%;
  height: 45%;
  max-width: 500px;
  min-width: 300px;
  min-height: 300px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
}

.close-modal {
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #ff365e;
  color: #fff;
}

.modal h1 {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}