@import url("./components/general.css");

@import url("./components/header.css");

@import url("./components/navbars.css");

/* gallery of animals */
/* @import url("./components/homeGallery.css"); */

@import url("./components/footer.css");

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 60%;
}